In [56]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt


plt.rcParams['figure.figsize'] = 15, 7

In [57]:
def parser1(x):
    x=str(x)[:19]
    return pd.datetime.strptime(x, '%Y-%m-%dT%H:%M:%S')

def parser2(x):
    x=str(x)
    return pd.datetime.strptime(x, '%d/%m/%y %Hh%M')

In [58]:
df_temp = pd.read_csv('elec_train.csv', sep=';', parse_dates=[0], date_parser=parser1)
meteo1 = pd.read_csv('meteo_train.csv', sep=';', parse_dates=[0], date_parser=parser2)
meteo2 = pd.read_csv('meteo_prev.csv', sep=';', parse_dates=[0], date_parser=parser2)
meteo = pd.concat([meteo1,meteo2])

meteo.rename(columns={'Date UTC':'date'},inplace=True)
meteo.head()

,date,T¬∞ (C),P (hPa),HR (%),P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats)
0,2015-09-13 00:00:00,12.5,1008.7,81.0,9.3,40.0,9.260,18.520,140.0,0.0,NaN,8.0
1,2015-09-13 03:00:00,12.3,1006.4,83.0,9.5,40.0,11.112,16.668,120.0,0.0,NaN,8.0
2,2015-09-13 06:00:00,12.3,1004.7,82.0,9.3,40.0,14.816,22.224,130.0,NaN,NaN,7.0
3,2015-09-13 09:00:00,14.2,1002.9,80.0,10.8,40.0,18.520,31.484,140.0,NaN,NaN,7.0
4,2015-09-13 12:00:00,13.3,1000.8,93.0,12.2,4.0,18.520,38.892,140.0,4.0,NaN,7.0

In [59]:
df_temp['date'] = df_temp['date'].dt.round('1h')
df_temp.head()

                 date   puissance
0 2015-09-13 01:00:00  526.166667
1 2015-09-13 02:00:00  495.000000
2 2015-09-13 03:00:00  446.166667
3 2015-09-13 04:00:00  365.833333
4 2015-09-13 05:00:00  341.000000

In [60]:
df = pd.merge(df_temp, meteo, on=['date'],how='outer',sort=True)
df.rename(columns={'T¬∞ (C)': 'Temperature (C)',
                       'P (hPa)': 'Pression (hPa)',
                      'HR (%)': 'Humidité Relative'},inplace=True)
df = df.interpolate()
df = df.round(3)
df

,date,puissance,Temperature (C),Pression (hPa),Humidité Relative,P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats)
0,2015-09-13 00:00:00,NaN,12.500,1008.700,81.000,9.300,40.000,9.260,18.520,140.000,0.000,NaN,8.000
1,2015-09-13 01:00:00,526.167,12.433,1007.933,81.667,9.367,40.000,9.877,17.903,133.333,0.000,NaN,8.000
2,2015-09-13 02:00:00,495.000,12.367,1007.167,82.333,9.433,40.000,10.495,17.285,126.667,0.000,NaN,8.000
3,2015-09-13 03:00:00,446.167,12.300,1006.400,83.000,9.500,40.000,11.112,16.668,120.000,0.000,NaN,8.000
4,2015-09-13 04:00:00,365.833,12.300,1005.833,82.667,9.433,40.000,12.347,18.520,123.333,0.444,NaN,7.667
5,2015-09-13 05:00:00,341.000,12.300,1005.267,82.333,9.367,40.000,13.581,20.372,126.667,0.889,NaN,7.333
6,2015-09-13 06:00:00,352.333,12.300,1004.700,82.000,9.300,40.000,14.816,22.224,130.000,1.333,NaN,7.000
7,2015-09-13 07:00:00,374.833,12.933,1004.100,81.333,9.800,40.000,16.051,25.311,133.333,1.778,NaN,7.000
8,2015-09-13 08:00:00,459.167,13.567,1003.500,80.667,10.300,40.000,17.285,28.397,136.667,2.222,NaN,7.000
9,2015-09-13 09:00:00,555.500,14.200,1002.900,80.000,10.800,40.000,18.520,31.484,140.000,2.667,NaN,7.000
10,2015-09-13 10:00:00,684.167,13.900,1002.200,84.333,11.267,28.000,18.520,33.953,140.000,3.111,NaN,7.000
11,2015-09-13 11:00:00,744.667,13.600,1001.500,88.667,11.733,16.000,18.520,36.423,140.000,3.556,NaN,7.000
12,2015-09-13 12:00:00,748.000,13.300,1000.800,93.000,12.200,4.000,18.520,38.892,140.000,4.000,NaN,7.000
13,2015-09-13 13:00:00,634.500,14.033,999.667,92.333,12.800,6.000,20.989,40.744,146.667,4.667,NaN,7.000
14,2015-09-13 14:00:00,615.167,14.767,998.533,91.667,13.400,8.000,23.459,42.596,153.333,5.333,NaN,7.000
15,2015-09-13 15:00:00,566.167,15.500,997.400,91.000,14.000,10.000,25.928,44.448,160.000,6.000,NaN,7.000
16,2015-09-13 16:00:00,507.667,15.433,997.467,89.333,13.667,13.333,24.693,41.361,180.000,5.000,NaN,6.667
17,2015-09-13 17:00:00,458.167,15.367,997.533,87.667,13.333,16.667,23.459,38.275,200.000,4.000,NaN,6.333
18,2015-09-13 18:00:00,490.833,15.300,997.600,86.000,13.000,20.000,22.224,35.188,220.000,3.000,NaN,6.000
19,2015-09-13 19:00:00,520.333,15.100,997.500,87.000,12.967,20.000,20.989,33.336,216.667,2.000,NaN,6.000
20,2015-09-13 20:00:00,545.667,14.900,997.400,88.000,12.933,20.000,19.755,31.484,213.333,1.000,NaN,6.000
21,2015-09-13 21:00:00,564.833,14.700,997.300,89.000,12.900,20.000,18.520,29.632,210.000,0.000,NaN,6.000
22,2015-09-13 22:00:00,688.667,14.567,996.933,89.667,12.867,18.333,19.755,33.953,220.000,0.333,NaN,6.000
23,2015-09-13 23:00:00,746.000,14.433,996.567,90.333,12.833,16.667,20.989,38.275,230.000,0.667,NaN,6.000
24,2015-09-14 00:00:00,612.500,14.300,996.200,91.000,12.800,15.000,22.224,42.596,240.000,1.000,NaN,6.000
25,2015-09-14 01:00:00,514.167,13.533,996.767,91.333,12.100,11.667,25.311,48.769,250.000,1.333,NaN,6.333
26,2015-09-14 02:00:00,411.833,12.767,997.333,91.667,11.400,8.333,28.397,54.943,260.000,1.667,NaN,6.667
27,2015-09-14 03:00:00,388.333,12.000,997.900,92.000,10.700,5.000,31.484,61.116,270.000,2.000,NaN,7.000
28,2015-09-14 04:00:00,362.333,11.600,998.533,91.000,10.167,5.667,29.632,56.177,270.000,2.667,NaN,7.333
29,2015-09-14 05:00:00,332.000,11.200,999.167,90.000,9.633,6.333,27.780,51.239,270.000,3.333,NaN,7.667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8803,2016-09-17 09:00:00,435.000,15.900,1025.300,79.000,12.300,35.000,18.000,28.800,340.000,0.000,593.0,7.000
8804,2016-09-17 12:00:00,435.000,17.300,1025.000,67.000,11.100,25.000,18.000,28.800,340.000,0.000,67.0,7.000
8805,2016-09-17 15:00:00,435.000,16.200,1024.100,71.000,10.900,40.000,18.000,32.400,330.000,0.000,693.0,7.000
8806,2016-09-17 18:00:00,435.000,14.500,1024.200,82.000,11.500,55.000,7.200,21.600,340.000,0.000,113.0,7.000
8807,2016-09-17 21:00:00,435.000,12.000,1024.400,94.000,11.100,17.000,7.200,10.800,310.000,0.000,0.0,7.000
8808,2016-09-18 00:00:00,435.000,9.800,1024.200,97.000,9.300,6.000,7.200,7.200,310.000,0.000,0.0,7.000
8809,2016-09-18 03:00:00,435.000,10.100,1023.700,98.000,9.800,0.600,3.600,10.800,300.000,0.000,0.0,7.000
8810,2016-09-18 06:00:00,435.000,10.400,1023.400,99.000,10.200,0.300,3.600,10.800,340.000,0.000,0.0,7.000
8811,2016-09-18 09:00:00,435.000,15.200,1023.500,79.000,11.600,18.000,7.200,18.000,360.000,0.000,580.0,7.000
8812,2016-09-18 12:00:00,435.000,18.000,1023.200,63.000,10.800,35.000,10.800,25.200,300.000,0.000,715.0,7.000
8813,2016-09-18 15:00:00,435.000,17.700,1023.200,62.000,10.300,50.000,10.800,25.200,310.000,0.000,737.0,8.000
8814,2016-09-18 18:00:00,435.000,15.700,1023.500,75.000,11.300,55.000,3.600,14.400,350.000,0.000,28.0,8.000
8815,2016-09-18 21:00:00,435.000,14.200,1023.500,86.000,11.900,35.000,0.000,3.600,0.000,0.000,0.0,8.000
8816,2016-09-19 00:00:00,435.000,13.300,1023.300,93.000,12.200,14.000,3.600,7.200,230.000,0.000,0.0,8.000
8817,2016-09-19 03:00:00,435.000,13.600,1023.000,96.000,13.000,22.000,3.600,3.600,160.000,0.000,0.0,8.000
8818,2016-09-19 06:00:00,435.000,14.400,1022.900,95.000,13.600,16.000,7.200,10.800,190.000,0.000,0.0,8.000
8819,2016-09-19 09:00:00,435.000,15.700,1023.100,93.000,14.600,19.000,10.800,14.400,180.000,0.000,0.0,8.000
8820,2016-09-19 12:00:00,435.000,16.200,1022.800,92.000,14.900,6.000,7.200,14.400,230.000,0.000,0.0,8.000
8821,2016-09-19 15:00:00,435.000,17.000,1022.000,86.000,14.600,40.000,14.400,21.600,340.000,0.000,0.0,8.000
8822,2016-09-19 18:00:00,435.000,15.200,1021.900,91.000,13.700,18.000,14.400,21.600,340.000,0.000,0.0,8.000
8823,2016-09-19 21:00:00,435.000,14.300,1021.800,96.000,13.700,7.000,10.800,21.600,310.000,0.000,0.0,8.000
8824,2016-09-20 00:00:00,435.000,14.200,1021.000,97.000,13.700,4.800,0.000,7.200,0.000,0.000,0.0,8.000
8825,2016-09-20 03:00:00,435.000,13.300,1020.100,98.000,13.000,0.300,3.600,3.600,60.000,0.000,0.0,7.000
8826,2016-09-20 06:00:00,435.000,13.500,1020.000,99.000,13.300,7.000,7.200,10.800,40.000,0.000,0.0,8.000
8827,2016-09-20 09:00:00,435.000,14.500,1020.500,97.000,14.000,4.900,7.200,14.400,10.000,0.000,0.0,8.000
8828,2016-09-20 12:00:00,435.000,17.000,1019.900,86.000,14.600,50.000,7.200,14.400,10.000,0.000,78.0,8.000
8829,2016-09-20 15:00:00,435.000,18.100,1018.500,81.000,14.800,19.000,14.400,25.200,360.000,0.000,39.0,7.000
8830,2016-09-20 18:00:00,435.000,15.600,1018.600,91.000,14.100,12.000,14.400,21.600,350.000,0.000,0.0,8.000
8831,2016-09-20 21:00:00,435.000,14.300,1018.900,98.000,14.000,1.600,7.200,10.800,350.000,0.000,0.0,8.000
8832,2016-09-21 00:00:00,435.000,13.900,1017.700,99.000,13.700,0.100,7.200,14.400,60.000,0.000,0.0,8.000

On calcul la température ressentie ou le refroidissement éolien. Jugé utile car beaucoup de vent dans cette région.

In [61]:
df['Temperature ressentie'] = round(13.2+0.6215*df['Temperature (C)']+(0.3965*df['Temperature (C)']-11.37)*df['Vt. raf. (km/h)']**(0.16),3)
df.head()

,date,puissance,Temperature (C),Pression (hPa),Humidité Relative,P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats),Temperature ressentie
0,2015-09-13 00:00:00,NaN,12.500,1008.700,81.000,9.300,40.0,9.260,18.520,140.000,0.000,NaN,8.000,10.737
1,2015-09-13 01:00:00,526.167,12.433,1007.933,81.667,9.367,40.0,9.877,17.903,133.333,0.000,NaN,8.000,10.709
2,2015-09-13 02:00:00,495.000,12.367,1007.167,82.333,9.433,40.0,10.495,17.285,126.667,0.000,NaN,8.000,10.684
3,2015-09-13 03:00:00,446.167,12.300,1006.400,83.000,9.500,40.0,11.112,16.668,120.000,0.000,NaN,8.000,10.660
4,2015-09-13 04:00:00,365.833,12.300,1005.833,82.667,9.433,40.0,12.347,18.520,123.333,0.444,NaN,7.667,10.487

In [63]:
#liste column inutiles :
unuse_columns = ['P.ros√©e (¬∞C)',
     #          'Visi (km)',
               'Vt. dir (¬∞)',
               'RR 3h (mm)',
    #         'Neige (cm)': 'neige',
               'Nebul. (octats)']
df = df.drop(columns = unuse_columns)
df.head()

,date,puissance,Temperature (C),Pression (hPa),Humidité Relative,Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Neige (cm),Temperature ressentie
0,2015-09-13 00:00:00,NaN,12.500,1008.700,81.000,40.0,9.260,18.520,NaN,10.737
1,2015-09-13 01:00:00,526.167,12.433,1007.933,81.667,40.0,9.877,17.903,NaN,10.709
2,2015-09-13 02:00:00,495.000,12.367,1007.167,82.333,40.0,10.495,17.285,NaN,10.684
3,2015-09-13 03:00:00,446.167,12.300,1006.400,83.000,40.0,11.112,16.668,NaN,10.660
4,2015-09-13 04:00:00,365.833,12.300,1005.833,82.667,40.0,12.347,18.520,NaN,10.487